# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.






.env

/postgres/

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


para iniciar un nuevo repositorio de GitHub, puedes seguir estos pasos:
# 1. Crea un nuevo repositorio en GitHub.
# 2. Abre tu terminal y navega hasta el directorio de tu proyecto.
# 3. Inicializa un nuevo repositorio de Git con el comando:
# git init
# 4. Agrega tu repositorio remoto de GitHub con el comando:
# git remote add origin 




################ para subir los cambios a tu repositorio de GitHub, puedes seguir estos pasos:############
# git add .
# git commit -m "Tu mensaje de commit aquí"
# git push origin main


/app/generated/prisma
